html {
	background: black;
	max-width: 800px;
	align-content: center;
	margin-left: 25%;
	margin-right: 33%;
	background-image: url("../images/rockhall.jpg");
	/*background-size: cover;*/
	background-position: center;
}

.page-header {
	background: black;
	background-image: url("../images/music.jpg");
}
.neon {
	color: #ff0099;
}
#audiowide {
	font-family: 'Audiowide', cursive;
	font-size: 25px;
}
#roboto {
	font-family: 'Roboto', sans-serif;
}

.jumbotron {
	max-width: 600px;
	margin: 75px;
	text-align: center;
}

footer {
	background: black;
	color: white;
	text-align: center;
	margin-top: 5px;
	border: 1px white solid;
}
.answers {
	font-size: 24px;
	display: block;
	margin: 10px;

}
#onLoss {
	max-width: 500px;
}

.bandpic {
	max-width: 500px;
}
button:hover {
    background-color: #ff0099; /* Neon Pink */
    color: white;
}
button {
    font-size: 24px;
    margin: 10px;
}
#induction {
	font-size: 18px;
}